<!DOCTYPE html>
<html lang="en">
<head>
	<title>BrosUnite</title>
	<%- include ('./partials/Head') %>
	<%- include ('./partials/navbar') %>
	<link href="https://fonts.googleapis.com/css2?family=Brawler&display=swap" rel="stylesheet">
<style>
*{
		font-family: 'Telex', sans-serif;

}

body {
		background-color: white;
		}
.footer {
		background: #478978;
		position: relative;
		bottom: 0;
		width: 100%;
		height: 8em; 
		text-align: center;
		color: black;
		align-items: center;
		display: flex;
		justify-content: center;
}

.footer-container {
		text-align: center;
		color: black;
		align-items: center;
		justify-content: center;
 }

.footer-content{
		text-align: center;
		justify-content: center;
		vertical-align: middle;

}

.footer-content a {
		color: black;
}

</style>
</head>
<body>
    <div class="container">
		<%- body %>
	</div>
</body>
<footer class="footer">
  <div class="footer-container">
	<div class="footer-content">Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com
	</a></div>
	<div class="footer-content">Think You Know Me? is copyright 2020 by Michael||CP and SmithBrosUnite</div>
  </div>
</footer>
</html>