.home-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    color: black;
}


#home-title {
    font-weight: 700;
    margin-bottom: 50px;
}

#quiz-input-label {
   font-size: 22px;
   
}

#emailToSearch {
    margin-top: 10px;
    width: 80%;
    height: 35px;
}

.container {
    min-height: 800px;
}

.home-container {
    position: absolute;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #508AA8;
    width: 50%;
    height: 400px;
    left: 25%;
    flex-wrap: wrap;
    display: flex;
    letter-spacing: .03em
}

.home-stats {
    border: 1px solid black;
    width: 300px;
    background-color: #BA1200;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    letter-spacing: .03em
}

.home-stats-title {
    font-weight: 600;
    display: block;
    text-align: center;
}

.home-stats-link {
    font-size: 35px;
    font-weight: 600;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}

.home-stats-link:hover {
   text-decoration: none;
   color: black;

}

#readyPlay {
    font-size: 35px;
    font-weight: 600;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 120px;
    margin: 0 auto;
    color: #428bca;
}

#readyPlay:hover {
    text-decoration: none;
    color: black;
}

.messagePlay {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: #e96d10;
}

.home-container h2 {
    font-weight: 600;
}

.invite-container {
    position: relative;
    margin-top: 100px;
    background-color: #8B95C9;
    width: 100%;
    font-size: 21px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: .015em;
}

.invite-field {
    min-width: 320px;
    max-width: 400px; 
}

.invite-btn {
    background-color: grey;
    color: white;
}