.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.register-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  
}

.register-title {
    width: 80%;
    text-align: left;
    border: 8px solid #8B95C9;
    padding: 10px;
    letter-spacing: .05em;
    font-weight: 700;
}

cbody {
    background: #efefef;
}

.form-body {
    background: #fff;
    padding: 20px;
    width: 100%;
}

.login-form {
    background: rgba(255,255,255,0.8);
    padding: 20px;
    border-top: 3px solid#3e4043;
}

.innate-form {
    padding-top: 20px;
}

.final-login li {
    width: 50%;
}

.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email {
    font-size: 13px;
    padding: 10px;
    border: 1px solid#ccc;
    outline: none;
    width: 100%;
    margin: 8px 0;
}

.sa-innate-form input[type=submit] {
    border: 1px solid#e64b3b;
    background: #e64b3b;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 5px;
}

.sa-innate-form input[type=submit]:hover {
    border: 1px solid#db3b2b;
    background: #db3b2b;
    color: #fff;
}

.sa-innate-form button {
    border: 1px solid#e64b3b;
    background: #e64b3b;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 5px;
}

.sa-innate-form button:hover {
    border: 1px solid#db3b2b;
    background: #db3b2b;
    color: #fff;
}

.sa-innate-form p {
    font-size: 13px;
    padding-top: 10px;
}

.sa-innate-form label {
    font-size: 20px;
    float: left;
}


.col-md-7 {
    width: 80% !important;
}