<link rel="stylesheet" type="text/css" href="/landing.css">

<div class="container.mt-4">
  <div class="jumbotron">
    <h1 id="siteTitle">How Well Do You Know Me</h1>
    <div id ="go">
      <a class="btn btn-primary btn-lg" onclick="location.href='/about'" type="button" id="toAbout" role="button">Learn more</a>
      <a class="btn btn-primary btn-lg" onclick="location.href='/login'" type="button" id="playGame" role="button">Login</a>
    </div>
  </div>
</div>

<script src="./scripts/landing-script.js"></script>