<link rel="stylesheet" type="text/css" href="/playGame.css">
  <script>
    var message = <%- JSON.stringify(locals.message) %>
  </script>

  <div id="playGame-container">
    <h1>
      So how well do you really know <span id="targetUserName">me</span>
    </h1>
    <div class="container">
      <h5>
        <%- JSON.stringify(locals.message) %>
      </h5>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p class="quiz-p">
          Question   <span id="questionNumber">1</span>
        </p>
        <h3 id="question"></h3>
        <p class="quiz-p">
          <span id ="guess">Select an option and see your result before moving on</span>
        </p>
      </div>
    </div>
    <div class="guess-container">
      <div class="square-container">
        <div class="square" tabindex="0">
          <span id="quiz-answer-1" class="q-option">
            <span class="optionText">1</span>
          </span>
        </div>
        <div class="square" tabindex="0">
          <span id="quiz-answer-2" class="q-option">
            <span class="optionText">1=2</span>
          </span>
        </div>
      </div>
      <div class="square-container">
        <div class="square" tabindex="0">
          <span id="quiz-answer-3" class="q-option">
            <span class="optionText">3</span>
          </span>
        </div>
        <div class="square" tabindex="0">
          <span id="quiz-answer-4" class="q-option">
            <span class="optionText">4</span>
          </span>
        </div>
      </div>
    </div>
  <button id="nextQ">Next Question</button>
   
  </div>
  <script src="./scripts/quiz-script.js" type="text/javascript"></script>