<link rel="stylesheet" type="text/css" href="../css/pregame.css">


  <div class="pregame-container">
	<div class="container.mt-4">
		<div class="jumbotron">
			<h2 class="pregame-description">Quiz Answers</h2>
      <br/>
      <p>Give others a chance to guess your answers by filling them out below</p>
      <p>Keep your answers under 50 characters</p>
		</div>
	</div>
	<form action="/questionaire" class="pregame-form" method="post" novalidate>
      <div class="form-question">
				<label for="q1">Question 1</label>
				<p class="questionaire">Where did your parents first meet?</p>
				<input type="text" class="form-control" required placeholder="enter answer" name="q1" required>
			</div>
      <div class="form-question">
        <label for="q2">Question 2</label>
        <p class="questionaire">What food did your grandparents make that seemed from a different generation?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q2" required="">
			</div>
      <div class="form-question">
        <label for="q3">Question 3</label>
        <p class="questionaire">What was a sibling's/parents worst habbit when you were a child?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q3" required="">
			</div>
      <div class="form-question">
        <label for="q4">Question 4</label>
        <p class="questionaire">Which member of your family could win a political election?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q4" required="">
			</div>
      <div class="form-question">
        <label for="q5">Question 5</label>
        <p class="questionaire">Where was your favorite place to hang out as a child?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q5" required="">
		 </div>
      <div class="form-question">
        <label for="q6">Question 6</label>
        <p class="questionaire">What career did you dream about as a kid?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q6" required="">
			</div>
      <div class="form-question">
        <label for="q7">Question 7</label>
        <p class="questionaire">Which band did you once support that now seems embaressing?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q7" required="">
			</div>
      <div class="form-question">
        <label for="q8">Question 8</label>
        <p class="questionaire">Who is your sporting hero?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q8" required="">
      </div>
      <div class="form-question">
        <label for="q9">Question 9</label>
        <p class="questionaire">Where have you never been that you most want to visit</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q9" required="">
      </div>
      <div class="form-question">
        <label for="q10">Question 10</label>
        <p class="questionaire">Looking at what food makes you quesy?</p>
        <input type="text" class="form-control" required placeholder="enter answer" name="q10" required="">
      </div>
		  <br/>
		  <button type="submit" class="btn btn-primary">Submit</button>
		
	</form>
</div>
