<link rel="stylesheet" type="text/css" href="/welcome.css">

<div class="register-container">
  <h1 class="register-title">Thanks for registering. Let us get to know you better by filling in the form below</h1>
  <div class="col-md-7">
      <div class="form-body">
        <div class="tab-content">
          <div id="sectionA" class="tab-pane fade in active">
            <div class="innate-form">
              <form action="/welcomeData" class="sa-innate-form" method="post">
                <br/>
                <label>Street Address</label>
                <input type="text" name="streetAddress">
                <label>City</label>
                <input type="text" name="city">
                <label>State</label>
                <input type="text" name="state">
                <label>Zipcode</label>
                <input type="text" name="zipcode">
                <label>Country</label>
                <input type="text" name="country">
                <label>Sex</label>
                <input type="text" name="sex">
                <label>Birthdate (xx-xx-xxxx)</label>
                <input type="text" name="birthdate">
                <button type="submit">Continue</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>